<div class="ui grid three column stackable basic segment"><!-- Hide on mobile as not key or reduce the profile... -->
	<div class="column">
		<h2 class="ui header">
		  <i class="database grey icon"></i>
		  <div class="content">
		    Every dataset
		    <div class="sub header">All Northern Ireland datasets explored and analysed.</div>
		  </div>
		</h2>
	</div>
	<div class="column">
		<h2 class="ui header">
		  <i class="bar chart grey icon"></i>
		  <div class="content">
		    Previews & analysis
		    <div class="sub header">Data insights and trends explained with graphs and commentary.</div>
		  </div>
		</h2>
	</div>
	<div class="column">
		<h2 class="ui header">
		  <i class="code grey icon"></i>
		  <div class="content">
		    API Exposure
		    <div class="sub header">Easily integrate any dataset in to your own projects.</div>
		  </div>
		</h2>
	</div>
</div>