<h4 class="ui horizontal divider header">
  Latest updates
</h4>
<div class="ui feed">
	<div class="event">
	    <div class="content">
	      <div class="summary">
	        <a>Population data</a> updated for 2016 estimates
	        <div class="date">
	          3 days ago
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="event">
	    <div class="content">
	      <div class="summary">
	        Challenging business outlook continues in <a>2016 Economic report</a>
	        <div class="date">
	          3 days ago
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="event">
	    <div class="content">
	      <div class="summary">
	        Further <a>net emigration</a> in 2016 driven by new graduates
	        <div class="date">
	          3 days ago
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="event">
	    <div class="content">
	      <div class="summary">
	        <a>Coal fuel import data</a> suspended citing accuracy concerns
	        <div class="date">
	          3 days ago
	        </div>
	      </div>
	    </div>
	  </div>
</div>
	<div class="ui small blue button basic">
		Older news
	</div>
</div>